[submodule "Modules/MST/MultithreadedMiller"]
	path = Modules/MST/MultithreadedMiller
	url = https://github.com/jeremymm/MultithreadedMiller.git
[submodule "Modules/MST/InputMiller"]
	path = Modules/MST/InputMiller
	url = ../InputMiller.git
[submodule "Modules/MST/MathematicalMiller"]
	path = Modules/MST/MathematicalMiller
	url = https://github.com/jeremymm/MathematicalMiller.git


	
[submodule "Modules/MST/Modules/3rdParty/GLEW"]
	path = Modules/MST/Modules/3rdParty/GLEW
	url = https://github.com/nigels-com/glew.git
