[submodule "Modules/MST/MultithreadedMiller"]
	path = Modules/MST/MultithreadedMiller
	url = https://github.com/jeremymm/MultithreadedMiller.git
[submodule "Modules/MST/InputMiller"]
	path = Modules/MST/InputMiller
	url = ../InputMiller.git
[submodule "Modules/MST/MathematicalMiller"]
	path = Modules/MST/MathematicalMiller
	url = https://github.com/jeremymm/MathematicalMiller.git
